.style {
  display: flex;
}
.form-control {
  width: 40%;
  margin: 10px;
}
.cursor {
  cursor: pointer;
}
.width {
  width: 100%;
}
.img {
  height: 100px;
}
/* TODO: fix css class names */
/* TODO: add all log files to gitignore */